---
const { title, href, imgSrc, stack, description } = Astro.props;
---

<div class="project-div">
  <a id="img-link" href={href} target="_blank" rel="noopener">
    <img src="/images/portfolio/corner-decal.png" id="corner-decal-left" />
    <img src="/images/portfolio/corner-decal.png" id="corner-decal-right" />
    <img src={imgSrc} id="project-img" />
  </a>
  <div class="project-text">
    <h3>{title}</h3>
    <span>{stack}</span>
    <!-- <a href={href} target="_blank">{href}</a> -->
    <p>
      {description}
    </p>
  </div>

  <style>
    .project-div {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 3rem;
      padding: 2rem;
      text-align: left;
      font-family:
        Fira Code,
        serif;
    }

    .project-text {
      flex: 1;
      min-width: 0;
    }

    span {
      font-style: italic;
    }

    a {
      display: block;
      word-break: break-word;
      overflow-wrap: anywhere;
    }

    /* img */

    #img-link {
      aspect-ratio: 7/4;
      width: 20rem;
      display: block;
      flex-shrink: 0;
      position: relative;
    }

    #img-link:hover {
      cursor: pointer;
      box-shadow: 0 0 20px white;
    }

    #corner-decal-left {
      position: absolute;
      width: 9rem;
      top: -3rem;
      left: -2rem;
      z-index: 1000;
    }

    #corner-decal-right {
      position: absolute;
      width: 9rem;
      bottom: -3rem;
      right: -2rem;
      transform: scale(-1, -1);
      z-index: 1000;
    }

    #project-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  </style>
</div>
