---
const { left, title, href, imgSrc, stack, description } = Astro.props;
---

<div class="project-div">
  {
    left && (
      <a id="img-link" href={href} target="_blank" rel="noopener">
        <img
          src="/images/portfolio/corner-decal.png"
          class="corner-decal"
          id="decal-top-left"
        />
        <img
          src="/images/portfolio/corner-decal.png"
          class="corner-decal"
          id="decal-bottom-right"
        />
        <img src={imgSrc} id="project-img" />
      </a>
    )
  }
  <div class="project-text">
    <h3>{title}</h3>
    <span>{stack}</span>
    <p>
      {description}
    </p>
  </div>
  {
    !left && (
      <a id="img-link" href={href} target="_blank" rel="noopener">
        <img
          src="/images/portfolio/corner-decal.png"
          class="corner-decal"
          id="decal-top-right"
        />
        <img
          src="/images/portfolio/corner-decal.png"
          class="corner-decal"
          id="decal-bottom-left"
        />
        <img src={imgSrc} id="project-img" />
      </a>
    )
  }

  <style>
    .project-div {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 3rem;
      padding: 2rem;
      text-align: left;
      font-family: simsun, serif;
    }

    .project-text {
      flex: 1;
      min-width: 0;
    }

    h3 {
      font-size: 1.3rem;
      margin: 1rem 0;
    }

    span {
      font-style: italic;
    }

    a {
      display: block;
      word-break: break-word;
      overflow-wrap: anywhere;
    }

    /* img */

    #img-link {
      aspect-ratio: 7/4;
      width: 20rem;
      display: block;
      flex-shrink: 0;
      position: relative;
      border-radius: 0.1em;
    }

    #img-link:hover {
      cursor: pointer;
      box-shadow: 0 0 20px white;
    }

    #project-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
      border-radius: inherit;
    }

    /* decals  */
    .corner-decal {
      position: absolute;
      width: 9rem;
      z-index: 1000;
    }

    #decal-top-left {
      width: 9rem;
      top: -3rem;
      left: -2rem;
    }

    #decal-bottom-right {
      width: 9rem;
      bottom: -3rem;
      right: -2rem;
      transform: scale(-1, -1);
    }

    #decal-top-right {
      top: -3rem;
      right: -2rem;
      transform: scaleX(-1);
    }

    #decal-bottom-left {
      bottom: -3rem;
      left: -2rem;
      transform: scaleY(-1);
    }
  </style>
</div>
